html {
    background: url(./images/background.jpg) fixed no-repeat;
    background-size: 100%;
}
ul{
	list-style:none;
    line-height: 30px;
}
li {
    border:2px solid black;
    text-align: center;
	background-color:#e2f6f5;
	width:45%;
    height: 30%;
	box-sizing:border-box;
	padding:20px;
	float:left;
    margin: 10px;
    border-radius: 5px;
    transition: background 2s;
    
}

li:hover {
    background-color: lemonchiffon;
    border-radius: 10px;    
}

titel {
    text-align: center;
    background-color: aqua;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 28px;
    border: 2px dotted brown;
}
img {
    border: 2px dotted brown;
    transition: box-shadow 1s ;
}

img:hover {
    box-shadow: 10px 10px 10px;
}
